<div class="banner-container">
  <!--TODO: Make the banner image scroll between a few different images-->
  <img src="images/engin-akyurt-ec1dSumeUsM-unsplash.jpg" class="home-image" alt="custom image goes here">
</div>

<br>

<div class="title-container">
  <%= erb :carousel %>
</div>

<br>

