<div class="banner-container">
  <!--TODO: Make the banner image scroll between a few different images-->
  <img src="images/engin-akyurt-ec1dSumeUsM-unsplash.jpg" class="home-image" alt="custom image goes here">
</div>

<br>

<div class="video-container">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lTRiuFIWV54?si=CvwpGW7JuVXA1yqS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="col about-text">
        <h4>Heading or Title</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>

<br>

