<form action="/send" method="get" enctype="text/plain" class="row g-3" >
  <input type="hidden" name="subject" value="Inquiry from website">
  <div class="col-12">
    <label for="message" class="form-label">Provide Details:</label>
    <textarea class="form-control" id="message"name="body" rows="5" cols="30" placeholder="Message"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit Request</button>
  </div>
</form>
