<div class="banner-container">
  <!--TODO: Make the banner image scroll between a few different images-->
  <img src="images/josh-beech-tXJhAFVOHVk-unsplash.jpg" class="home-image" alt="custom image goes here">
  <div class="banner-container">
    <div class="banner-text">
      <h2>Company slogan goes here</h2>
      <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
    </div>
  </div>
</div>

<br>

<div class="title-container">
  <h3>Gallery/Clients:</h6>
</div>
<!--TODO: Make the client images scroll between different clients or make this a scrolling gallery of images from previous works-->
<!--TODO: Make this look better on mobile-->
<div class="image-container">
  <img src="images/maxime-agnelli-QC1oHW5JVu4-unsplash.jpg" class="image-gallery">
  <img src="images/dane-deaner-d0AcxMk33is-unsplash.jpg" class="image-gallery">
  <img src="images/blaz-erzetic-5Wu96pC2qxE-unsplash.jpg" class="image-gallery">
  <img src="images/maxime-agnelli-QC1oHW5JVu4-unsplash.jpg" class="image-gallery">
</div>

<div class="title-container">
  <p class="title-font">Heading or quote or title</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<br>

<div class="title-container">
  <p class="title-font">Heading or quote or title</p>
</div>

<br>

<!--TODO: Make this look better on mobile-->
<%= erb :cards %>

<br>
<br>

<div class="colored-section">
  <div>
    <p class="white-text">Optional text goes here, I'll make this centered and styled later</p>
  </div>
</div>

<br>
<br>

<div class="container text-center about-container">
  <div class="row">
    <div class="col">
      <img src="images/blaz-erzetic-5Wu96pC2qxE-unsplash.jpg" width="600">
    </div>
    <div class="col about-text">
      <h3>About Us</h3>
      <p><strong>Optional subtext goes here</strong></p>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
    </div>
  </div>
</div>

<br>