<div class="banner-container">
  <img src="images/josh-beech-tXJhAFVOHVk-unsplash.jpg" class="home-image" alt="custom image goes here">
  <div class="banner-container">
    <div class="banner-text">
      <h2>Company slogan goes here</h2>
      <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
    </div>
  </div>
</div>


<p>Hi there</p>