.home-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.about-banner {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.slogan-div {
  height: 120px;
  max-width: 100%;
  background-color: #242c64;
  display: flex;
}

.slogan-text {
  color: white;
}

.nav-icon {
  width: 60px;
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 30px;
  left: 15px;
  padding: 10px;
  color:white
}

.title-container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 30px;
}

.test-div {
  border: 2px;
  border-style: dashed;
  border-color: black;
}

.image-gallery {
  width: 280px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  padding-top: 20px;
}

.about-gallery {
  width: 300px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 20px;
}

.image-container {
  margin: auto;
  max-width: 1200px;
}

.image-div {
  border: 1px;
  border-style: dotted;
}

.title-font {
  font-size: 35px;
}

.card-container {
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
  justify-content: space-between;
}

.colored-section {
  background-color: #242c64;
  text-align: center;
  background-size: cover;
}

.colored-section-text {
  padding: 2em 0;
  font-size: 30px;
}

.about-text {
  text-align: left;
}

.footer-container {
  background-color: #242c64;
  max-width: 100%;
  color: #b8c1ec;
}

.footer-text {
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.footer-text a {
  text-decoration: none;
  color: #b8c1ec;
  padding-bottom: 10px;
}

.footer-text a:hover {
  color: white
}

.carousel-image {
  height: 550px;
  object-fit: cover;
}

